# ===============================
# Data & Results (NGS heavy files)
# ===============================

data/*
!data/README.md
results/
logs/

# ===============================
# Large sequencing files
# ===============================

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram
*.fasta
*.fa
*.fna
*.gff
*.gbk
*.vcf
*.html
*.zip

# ===============================
# SPAdes temp
# ===============================

tmp/
spades.log

# ===============================
# Conda environments
# ===============================

env/
*.conda

# ===============================
# macOS system files
# ===============================

.DS_Store

